.application {
    font-family: 'Nunito' !important;
}

a:hover {
    text-decoration: none !important;
}

h3 {
    // font-family: 'Playfair Display';
}

.v-text-field__details {
    display: none !important;
}

td {
    // border: 1px solid rgba(0,0,0,0.3);
    text-align: center !important;
}

button {
    outline: none !important;
}

.v-input__slot {
    margin: 0 !important;
}

.nopacity {
    opacity: 0 !important;
}

.v-table__overflow {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

td {
    padding: 0 !important;
    vertical-align: middle !important;
}

.v-label {
    margin: 0;
}

.active {
    a {

        background-color: #3490dc !important;
    }
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.d-picker {
    border-radius: 0px;
    height: 48px;
    border: none;
}

th {
    letter-spacing: 2px;
}

.v-input--selection-controls {
    justify-content: center;
}

.date-range-picker {
    background: #fff;
    height: 48px;
    border: none;
    color: #000;
    padding: 10px;
    min-width: 200px;
    width: 100%;
    text-align: center;
}

.daterangepicker{
    font-family: inherit!important;
}

.disabled {

    .page-link {

        background-color: black !important;
    }
}

.v-input--selection-controls__input{
    margin: 0!important;
}

.headline{
    font-family: 'Nunito'!important
}

.daterangepicker td.in-range {
    background-color: lightblue!important;
    border-color: transparent;
    color: #000;
    border-radius: 0;
}

.button-line{
    button{
        width: 170px!important;
    }
}