.application {
    font-family: 'Nunito' !important;
}

a:hover {
    text-decoration: none !important;
}

.v-text-field__details {
    display: none !important;
}

button {
    outline: none !important;
}

[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }

.v-input__slot {
    margin: 0 !important;
}

.nopacity {
    opacity: 0 !important;
}

.v-label {
    margin: 0;
}

.active {
    a {
        background-color: #3490dc !important;
    }
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.d-picker {
    border-radius: 0px;
    height: 48px;
    border: none;
}

.v-input--selection-controls {
    justify-content: center;
}

.date-range-picker {
    background: #fff;
    height: 48px;
    border: none;
    color: #000;
    padding: 10px;
    min-width: 200px;
    width: 100%;
    text-align: center;
}

.daterangepicker {
    font-family: inherit !important;
}

.disabled {
    .page-link {
        background-color: black !important;
    }
}

.v-input--selection-controls__input {
    margin: 0 !important;
}

.headline {
    font-family: 'Nunito' !important
}

.daterangepicker td.in-range {
    background-color: lightblue !important;
    border-color: transparent;
    color: #000;
    border-radius: 0;
}

.close-window {
    margin: 0 !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
}

div[role=listitem] {
    a {
        height: 50px !important;
    }
}

.v-list__group__header {
    height: 50px !important;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .3s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.theme--dark.v-btn.v-btn--disabled:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn--outline) {
    background-color: lightgray !important
}

.notification-title {
    font-size: 20px !important;
    border-bottom: 2px solid #fff;
    padding-bottom: 3px;
}

.notification-content {
    padding-top: 3px;
    font-size: 14px !important;
    text-align: center !important;
}

.notifications {
    bottom: 10px !important;
    right: 10px !important;
}

.theme--dark.v-list .v-list__group__header:hover,
.theme--dark.v-list .v-list__tile--highlighted,
.theme--dark.v-list .v-list__tile--link:hover {
    background: hsla(0, 0%, 100%, .08);
}

a:hover {
    color: #99bffc
}

a.v-list__tile--active {
    color: #99bffc !important
}

.v-list__group__header--active i {
    color: #99bffc !important
}

h3 {
    margin-top: 20px;
    // margin-left: 20px;
    color: #fff;
}

#inspire {
    background-image: linear-gradient(113.7deg, rgba(43, 58, 103, 1) 11.5%, rgba(122, 134, 172, 1) 124.1%);
}

.daterangepicker td.active, .daterangepicker td.active:hover {
    background-color: #357ebd!important;
    border-color: transparent;
    color: #fff;
    border-radius: 0!important;
}