.table-tools {
    button, a {
        margin-left: 0;
        margin-right: 10px;
        margin-top: 5px;
        width: 130px;

        i {
            margin-left: 10px;
            font-size: 14px!important;
        }
    }

    .v-input {
        display: inline-block;
        margin-left: 10px;
        float: right;
        width: 300px;
    }
}

th {
    border: none!important
}

td {
    text-align: center !important;
    word-wrap: break-word;
}

.v-table__overflow {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

table{
    // table-layout:fixed;
    width: 100%!important;
    display: block;
    overflow-x: scroll;
    border: none!important;

}

td {
    padding: 0 !important;
    vertical-align: middle !important;
}

th {
    letter-spacing: 2px;
}

.items-show {
    color: #fff;

    span, .v-input {
        display: inline-block;
        margin-right: 10px;
    }

    .v-input {
        width: 100px!important;
    }
}

.items-count {
    margin-top: 20px;
    color: #fff;
}

.no-data{
    text-align: center;
    padding: 20px!important;
    color: #fff;
    font-size: 15px;
}

.toggleAll{
    i{
        color: #fff!important;
        margin-top: 15px;
    }
}

/*
 *  STYLE 14
 */

#resultsTable::-webkit-scrollbar-track, .doubleScroll-scroll-wrapper::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    background-color: #CCCCCC;
}

#resultsTable::-webkit-scrollbar, .doubleScroll-scroll-wrapper::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}

#resultsTable::-webkit-scrollbar-thumb, .doubleScroll-scroll-wrapper::-webkit-scrollbar-thumb
{
    background-color: #FFF;
    background-image: -webkit-linear-gradient(90deg,
                                              rgba(0, 0, 0, 1) 0%,
                                              rgba(0, 0, 0, 1) 25%,
                                              transparent 100%,
                                              rgba(0, 0, 0, 1) 75%,
                                              transparent)
}