// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css';

// Vuetify
@import '~vuetify/dist/vuetify.min.css';

// Custom
@import 'main';