#app
    display: flex
    align-items: center
    height: 100vh
   	font-family: 'Nunito'!important
    background-image: url('/images/tel.jpg')
    background-size: cover
    overflow: hidden
    box-shadow: inset 0 0 20px rgba(0,0,0,0.9)
    justify-content: center

.overlay
	position: absolute
	height: 100%
	width: 100%
	background: rgba(0,0,0,0.3)

input, button
    height: 50px!important
    font-size: 19px!important

label
	font-size: 19px!important
	color: #fff

strong
	font-size: 19px!important

h1
	text-align: center
	color: #fff
	font-size: 36px;
	letter-spacing: 5px;

#loading
	opacity: 0

.errors	
	span
		text-align: center!important
		height: 40px
		display: flex
		background-color: firebrick!important
		align-items: center
		justify-content: center
		font-size: 13px!important