// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito|Playfair+Display');

// Variables
@import 'variables';

// Variables
@import 'datatable'

// Bootstrap
@import '~bootstrap/dist/css/bootstrap.min.css'

// Vuetify
@import '~vuetify/dist/vuetify.min.css'

// Vue Loader
@import '~vue-loading-overlay/dist/vue-loading.css'

@import '~vuejs-dialog/dist/vuejs-dialog.min.css';

// Custom styling
@import 'custom'
