.toggleAll i
    color #fff!important
.dateinput .v-input__append-inner
    display none
.floatThead-container
    z-index 1!important
.daterangepicker
    background-color #343a40!important
    border none!important
    .drp-selected
        color #fff
    .calendar-table
        padding 0!important
        border none!important
        border-radius 0!important
th
    border none!important
    letter-spacing 2px
td
    text-align center !important
    word-wrap break-word
    padding 5px 20px !important
    vertical-align middle !important
.v-table__overflow
    width 100%
    overflow-x hidden
    overflow-y hidden
table
    table-layout fixed
.wrapper
    // height 600px
    // overflow-x scroll
    // overflow-y scroll
.items-show
    color #fff
    span, .v-input
        display inline-block
        margin-right 10px
    .v-input
        width 100px!important
.no-data
    text-align center
    padding 20px!important
    color #fff
    font-size 15px
.wrapper::-webkit-scrollbar-track, .doubleScroll-scroll-wrapper::-webkit-scrollbar-track
    scrollbar(#F5F5F5)
.wrapper::-webkit-scrollbar, .doubleScroll-scroll-wrapper::-webkit-scrollbar
    width 3px!important
    height 7px!important
    background-color #F5F5F5
.wrapper::-webkit-scrollbar-thumb, .doubleScroll-scroll-wrapper::-webkit-scrollbar-thumb
    scrollbar(#555)
.table-header
     text-align center
     border none
     padding 10px
     cursor pointer
.pagination
    padding 10px
    
// tr:first-child td
//     height 50px
//     background-color black
//     color white

.filter-input
    font-size 13px
    background #fff
    height 50px
    
.table-body
    display contents
.show-how-many
   width 100px
   display inline-block
   margin-left 15px
   margin-right 15px
.pagination-nav
    text-align center
    margin-left auto
    display flex
    align-items center
    justify-content center

.v-btn--floating .v-btn__content {
    height: auto!important;
}