.toggleAll i
    color: #fff!important

.dateinput .v-input__append-inner
    display none

.daterangepicker
    background-color #343a40!important
    border none!important
    .drp-selected
        color #fff
    .calendar-table
        padding 0!important
        border none!important
        border-radius 0!important

th
    border: none!important
    letter-spacing: 2px

td
    text-align: center !important
    word-wrap: break-word
    padding: 5px 20px !important
    vertical-align: middle !important

.v-table__overflow
    width: 100%
    overflow-x: hidden
    overflow-y: hidden

table
    table-layout:fixed
    // border: none!important
    // width: 100%!important;
    // display: block;
    
.wrapper
    height: 600px
    overflow-x: scroll
    overflow-y: scroll

.items-show
    color: #fff
    span, .v-input
        display: inline-block
        margin-right: 10px
    .v-input
        width: 100px!important

.no-data
    text-align: center
    padding: 20px!important
    color: #fff
    font-size: 15px

.wrapper::-webkit-scrollbar-track, .doubleScroll-scroll-wrapper::-webkit-scrollbar-track
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3)
    border-radius: 10px
    background-color: #F5F5F5

.wrapper::-webkit-scrollbar, .doubleScroll-scroll-wrapper::-webkit-scrollbar
    width: 3px!important
    height: 7px!important
    background-color: #F5F5F5

.wrapper::-webkit-scrollbar-thumb, .doubleScroll-scroll-wrapper::-webkit-scrollbar-thumb
    border-radius: 0
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3)
    background-color: #555

.table-header
     text-align: center
     border: none
     padding: 10px
     cursor: pointer

.pagination
    padding: 10px